{% extends "layout.html" %}
{% block body %}
<h2>Your joeLy links</h2>
  {% if da_url %} 
    <p>
      <a href='{{ da_url.shortened }}' target='_blank'>
        {{ da_url.shortened }}
      </a> now points to 
      <a href='{{ da_url.original_url }}' target='_blank'>
        {{ da_url.original_url }}
      </a>!
    </p>
    <p>
      The joeLink's stats are visible 
      <a href='{{url_for('view_redirect_info',shortened=da_url.key)}}' target='_blank'>
        here
      </a>  
    </p>
    {% endif %}
    <form method='POST'>
        <input type='text' name='url' placeholder='shorten this link slightly'>
        <input type='submit' name='shorten_dat'>
    </form>
  {% if urls.items %}
    {% if urls.has_prev %}
    <a href='{{url_for('front_page',page=urls.prev_num)}}' target='_blank'>
      older joeLinks
    </a>
    {% endif %}
    {% if urls.has_next %}
    <a href='{{url_for('front_page',page=urls.next_num)}}' target='_blank'>
      newer joeLinks
    </a>
    {% endif %}
    <ul>
      {% for url in urls.items %}
        <li>
          <p>
            <a href='{{url.shortened}}' target='_blank'>
              {{url.shortened}}
            </a>  
            points to
            <a href='{{url.original_url}}' target='_blank'>
              {{url.original_url}}
            </a>
          </p>
          <p>
            It was created {{url.formatted_date}}
          </p>
          <p>
            Its deets are vizzy
            <a href='{{ url_for('view_redirect_info',shortened=url.key)}}'>
              here.
            </a>
          </p>
        </li>
      {% endfor %} 
    </ul>
  {% else %}
  <h3>
    Where have all the links gone? </ br>
    <small> Long time passing...</small>
  </h3>
  {% endif %}
{% endblock %} 

